extends baseEmail

block content
  p Hello #{firstName},
  p Your Gradell Tech Ltd account has been successfully verified.
  p If you have any questions regarding this email, you can contact us.
  p Thank you,
  p Gradell Tech Ltd
