extends baseEmail

block content
  p Hello #{firstName},
  p Your pin has been successfully changed.
  p If you have any questions regarding this email, you can contact us.
  p Thank you,
  p Gradell Tech Ltd
