extends baseEmail

block content
  p Hello #{firstName},
  p Your has been credited with #{amount} and your account balance is #{balance} changed.
  p If you have any questions regarding this email, you can contact us.
  p Thank you,
  p Gradell Tech Ltd
